/* reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*commom*/

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}
.text-center {
  text-align: center !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}

.pull-right {
  float: right !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: 33.33333%;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

/*main*/
#main {
}
/* begin header section*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li:hover .subnav {
  display: block;
  min-width: 160px;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}

#nav .button-down {
  font-size: 14px;
}

#header .button-btn {
  float: right;
  background-color: #f44336;
  padding: 0 24px;
}

#header .button-search {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
/* end header section*/

/*begin slider section*/
#slider {
  position: relative;
  margin-top: 46px;
}
#slider .slider-img img {
  width: 100%;
}
#slider .text-content {
  position: absolute;
  bottom: 47px;
  width: 100%;
  color: #fff;
  text-align: center;
}

#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
}

#slider .text-sub-heading {
  font-size: 15px;
  margin-top: 25px;
}
/*end slider section*/

/*begin content section*/

/* begin about section*/
#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
}

#content .section-heading {
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-content {
  margin-top: 25px;
  text-align: justify;
  line-height: 1.5;
}

#content .member-list {
  margin-top: 47px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  width: 140px;
  margin-top: 15px;
  border-radius: 4px;
}
/* end about section*/

/*begin Tour section*/

.tour-section {
  background-color: #000;
}

.ticket-list {
  background-color: #fff;
  margin-top: 40px;
  list-style-type: none;
}

.ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 3px 4px;
}

.ticket-list .quantity {
  float: right;
  background-color: #000;
  border-radius: 50%;
  padding: 2px 6px;
  margin-top: -3px;
  margin-right: 12px;
  color: #fff;
}
/*end Tour section*/

/*begin place section*/
.places-list {
  margin-top: 32px;
  margin-bottom: 0px;
}

.places-img {
  width: 100%;
  display: block;
}

.places-img:hover {
  opacity: 0.6;
}

.places-body {
  background-color: #fff;
  padding: 8px;
  font-size: 15px;
  padding: 15px;
}

.places-heading {
  font-size: 15px;
}

.places-time {
  margin-top: 15px;
  color: #757575;
}

.places-disc {
  margin-top: 15px;
  line-height: 1.4;
}

.btn {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}
/*end place section*/
/*end content section*/

/*begin modal ticket*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  position: relative;
  animation: showDownModal ease 0.3s;
}

.modal-header {
  background-color: #009688;
  height: 129px;
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  padding: 12px;
}

.modal-close:hover {
  background-color: rgba(207, 21, 21, 0.8);
  cursor: pointer;
}

.modal-heading {
  letter-spacing: 4px;
  line-height: 1.6;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#modal-button {
  border: none;
  background-color: #009688;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 16px;
  color: #fff;
  cursor: pointer;
}

#modal-button:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
  font-size: 15px;
}

.modal-footer a {
  color: #2196f3;
}
/*end modal ticket*/

/*begin contact section*/
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-form .form-submit-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-size: 15px;
  padding: 9px 14px;
  float: right;
}

.contact-form .form-submit-btn:hover {
  background-color: #ccc;
  color: #000;
}

.map-section img {
  width: 100%;
}
/*end contact section*/

/* begin Footer section*/
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .social-list {
  font-size: 24px;
}

#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
  margin-top: 15px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}
/* end Footer section*/

/*keyframes để tạo hiệu ứng trượt xuống cho modal*/
@keyframes showDownModal {
  from {
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
